<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.downloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application android:allowBackup="true" >
        <service
            android:name="com.downloader.service.DownloadService"
            android:process="com.downloader.service" />

        <activity android:name="com.downloader.testUI.TestUI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>